@page "/vyhladatZubara"
@inject IDentistService DentistService
@attribute [StreamRendering]

<head>
    <meta charset="UTF-8">
    <title>Vyhľadanie zubára</title>
</head>

<div class="container">
    <h1>Vyhľadaj svojho zubára a objednaj sa</h1>

    <hr/>

    @if (FilteredDentists == null)
    { 
        <p class="loading">Načítavam dáta...</p>
    }
    else
    { 
        <ul class="dentist-list">
            @foreach (var dentist in FilteredDentists)
            {
                <li class="dentist-card">
                    <div class="dentist-info">
                        <span class="dentist-name">@dentist.Name @dentist.Surname</span>
                        <span class="dentist-location">@dentist.Region - (@dentist.City)</span>
                    </div>
                    <CreateOrderButton DentistId="@dentist.Id" />
                </li>
            }
        </ul>
    }
</div>

@code {
    string? SelectedSpecialization; 
    string? SelectedRegion;
    List<Dentist> FilteredDentists = null;
    
    protected override async Task OnInitializedAsync() 
    { 
        FilteredDentists = await DentistService.GetAllDentists();
    }
}