@page "/vyhladatZubara"
@inject IDentistService DentistService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

<head>
    <meta charset="UTF-8">
    <title>Vyhľadanie zubára</title>
</head>

<div class="container">
    <h1>Vyhľadaj svojho zubára a objednaj sa</h1>
    
    <div class="sel-spec">
        <label>Špecializácia:</label>
        <select @bind="SelectedSpecialization">
            <option value="">Všetky</option>
            <option value="Stomatochirurgia">Stomatochirurgia</option>
            <option value="Parodontológia">Parodontológia</option>
            <option value="Ortodoncia">Ortodoncia</option>
            <option value="Pedostomatológia">Pedostomatológia</option>
            <option value="Všeobecné pre dospelých">Všeobecné pre dospelých</option>
            <option value="Všeobecné pre deti">Všeobecné pre deti</option>
        </select>
    </div>
    
    <button>Vyfiltruj</button>

    <hr />

    @if (FilteredDentists == null)
    {
        <p class="loading">Načítavam dáta...</p>
    }
    else
    {
        <ul class="dentist-list">
            @foreach (var dentist in FilteredDentists)
            {
                <li class="dentist-card">
                    <div class="dentist-info">
                        <a href="/dentistInfo/@dentist.Id" class="dentist-name">
                            @dentist.Name @dentist.Surname
                        </a>
                        <span class="dentist-location">@dentist.Region - (@dentist.City)</span>
                    </div>
                    <div class="button-group">
                        <ReviewPageButton DentistId="@dentist.Id"/>
                        <CreateOrderButton DentistId="@dentist.Id" />
                    </div>
                </li>
            }
        </ul>
    }
</div>

@code {
    List<Dentist> FilteredDentists = null;
    private string? SelectedSpecialization;

    protected override async Task OnInitializedAsync()
    {
        FilteredDentists = await DentistService.GetAllDentists();
    }
}