@page "/vyhladatZubara"
@using Bakalárska__práca.Shared.Services
@inject IDentistService DentistService
@attribute [StreamRendering]
@rendermode InteractiveServer

<head>
    <meta charset="UTF-8">
    <title>Vyhľadanie zubára</title>
</head>

<div class="container">
    <h1>Vyhľadaj svojho zubára a objednaj sa</h1>

    <hr />

    @if (FilteredDentists == null)
    {
        <p class="loading">Načítavam dáta...</p>
    }
    else
    {
        <ul class="dentist-list">
            @foreach (var dentist in FilteredDentists)
            {
                <li class="dentist-card">
                    <div class="dentist-info">
                        <span class="dentist-name">@dentist.Name @dentist.Surname</span>
                        <span class="dentist-location">@dentist.Region - (@dentist.City)</span>
                    </div>
                    <div class="button-group">
                        <ReviewPageButton DentistId="@dentist.Id"/>
                        <CreateOrderButton DentistId="@dentist.Id" />
                    </div>
                </li>
            }
        </ul>
    }
</div>

@code {
    string? SelectedSpecialization;
    string? SelectedRegion;
    List<Dentist> FilteredDentists = null;

    protected override async Task OnInitializedAsync()
    {
        FilteredDentists = await DentistService.GetAllDentists();
    }
}