@page "/edit-order"
@page "/edit-order/{id:int}"
@using Bakalárska__práca.Shared.Model
@using Bakalárska__práca.Shared.Services
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IOrderService OrderService
@inject IDentistService DentistService
@rendermode InteractiveAuto
@* @attribute [Authorize(Roles = "User")] *@

<div class="create-order-form">
    @if (Id == null)
    {
        <h3>Vytvor objednávku</h3>
    }
    else
    {
        <h3>Uprav objednávku</h3>
    }

    <EditForm Model="order" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />

        <div>
            <label>Vybraný zubár:</label>
            <p>@dentistFullName</p>

            <label>Špecializácia:</label>
            <p>@order.Specialization</p>
            
            <label>Aktuálny dátum a čas objednávky:</label>
            <p>@order.OrderTime.ToString("dd-MM-yyyy HH:mm")</p>


            <label>Zmeň dátum a čas objednávky:</label>
            <InputDate @bind-Value="order.OrderTime" min="@Today" @onchange="OnDateChanged"></InputDate>

            <select @bind="order.Time" class="inputTime">
                @foreach (var availableTime in availableTimes)
                {
                    <option value="@availableTime" selected="@(IsSelected(availableTime) ? "selected" : null)">@availableTime</option>
                }
            </select>
        </div>

        <!-- Kontajner pre tlačidlá -->
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Potvrdiť</button>
            @if (Id != null)
            {
                <button @onclick="ShowDialog" type="button" class="btn btn-cancel">Zmazať</button>
            }
        </div>
    </EditForm>

    @if (_dialogVisible)
    {
        <div class="dialog-overlay">
            <div class="dialog-box">
                <h3>Naozaj chcete vymazať objednávku?</h3>
                <div class="dialog-actions">
                    <button class="confirm-button" @onclick="ConfirmDelete">Áno, vymazať</button>
                    <button class="cancel-button" @onclick="CancelDelete">Zrušiť</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public int? DentistId { get; set; }

    [Parameter]
    public string? UserId { get; set; }

    Order order { get; set; } = new Order { };
    string dentistFullName = "Neznámy zubár";
    private bool _dialogVisible = false;
    private string Today => DateTime.Today.ToString("yyyy-MM-dd");
    private List<string> availableTimes = new List<string>();

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            order = await OrderService.GetOrderById(Id.Value);
            DentistId = order.DentistId;

            if (DentistId.HasValue)
            {
                var dentist = await DentistService.GetDentistById(DentistId.Value);
                dentistFullName = $"{dentist.Name} {dentist.Surname}";
                order.Specialization = dentist.Specialization;
            }

            await LoadAvailableTimes();
        }
        else
        {
            order = new Order { };
            if (DentistId.HasValue)
            {
                order.DentistId = DentistId.Value;
                var dentist = await DentistService.GetDentistById(DentistId.Value);
                dentistFullName = $"{dentist.Name} {dentist.Surname}";
            }
        }
    }

    protected override void OnInitialized()
    {
        order.OrderPlaced = DateTime.Today;
    }

    private async Task LoadAvailableTimes()
    {
        if (order.OrderTime != null)
        {
            var dentist = await DentistService.GetDentistById(order.DentistId);
            availableTimes.Clear();

            TimeSpan start = dentist.OfficeStartTime;
            TimeSpan end = dentist.OfficeEndTime;

            for (TimeSpan currentTime = start; currentTime < end; currentTime = currentTime.Add(TimeSpan.FromMinutes(30)))
            {
                string time = currentTime.ToString(@"hh\:mm");
                availableTimes.Add(time);
            }

            var orders = await OrderService.GetOrdersByDentistAndDate(order.DentistId, order.OrderTime.Date);
            availableTimes = availableTimes.Where(t => !orders.Any(o => o.Time.ToString("hh:mm") == t)).ToList();
        }
    }

    private bool IsSelected(string time) => order.Time.ToString("hh:mm") == time;

    async Task HandleSubmit()
    {
        order.OrderTime = order.OrderTime.Date.Add(order.Time.TimeOfDay);

        if (Id == null)
        {
            await OrderService.AddOrder(order);
            NavigationManager.NavigateTo("/orderList");
        }
        else
        {
            await OrderService.EditOrder((int)Id, order);
            NavigationManager.NavigateTo("/orderList");
        }
    }

    private void ShowDialog()
    {
        _dialogVisible = true;
    }

    async Task ConfirmDelete()
    {
        _dialogVisible = false;
        await OrderService.DeleteOrder((int)Id);
        NavigationManager.NavigateTo("/orderList");
    }

    private void CancelDelete()
    {
        _dialogVisible = false;
    }

    private readonly TimeSpan OpeningTime = new TimeSpan(8, 0, 0); // 8:00
    private readonly TimeSpan ClosingTime = new TimeSpan(18, 0, 0); // 18:00

    private bool IsValidTime() => order.Time.TimeOfDay >= OpeningTime && order.Time.TimeOfDay <= ClosingTime;

    private async Task OnDateChanged(ChangeEventArgs e)
    {
        order.OrderTime = DateTime.Parse(e.Value.ToString());
        await LoadAvailableTimes();
    }
}
