@page "/edit-order"
@page "/edit-order/{id:int}"
@using Bakalárska__práca.Shared.Model
@using Bakalárska__práca.Shared.Services
@inject NavigationManager NavigationManager
@inject IOrderService OrderService
@inject IDentistService DentistService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<div class="create-order-form">
    <h3>Uprav objednávku</h3>

    <EditForm Model="order" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Vybraný zubár:</label>
            <p class="form-control-static">@dentistFullName</p>

            <label>Špecializácia:</label>
            <p class="form-control-static">@order.Specialization</p>

            <label>Aktuálny dátum a čas objednávky:</label>
            <p class="form-control-static">@order.OrderTime.ToString("dd.MM.yyyy HH:mm")</p>

            <div class="form-group">
                <label for="orderDate">Nový dátum:</label>
                <InputDate id="orderDate" @bind-Value="OrderTime" min="@Tomorrow" class="form-control" />
            </div>

            <div class="form-group">
                <label for="orderTime">Nový čas:</label>
                <select id="orderTime" @bind="SelectedTime" class="form-control" disabled="@(availableTimes.Count == 0 || IsWeekend(_orderTime))">
                    @if (availableTimes.Count == 0)
                    {
                        <option value="">@(IsWeekend(_orderTime) ? "Objednávky nie sú možné cez víkend" : "Žiadne voľné časy v tento deň")</option>
                    }
                    else
                    {
                        <option value="">Vyberte čas</option>
                        @foreach (var availableTime in availableTimes)
                        {
                            <option value="@availableTime">@availableTime</option>
                        }
                    }
                </select>
            </div>

            @if (timeErrorMessage != null)
            {
                <div class="alert @(IsWeekend(_orderTime) ? "alert-weekend" : "alert-danger")">@timeErrorMessage</div>
            }
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-primary" disabled="@(availableTimes.Count == 0 || IsWeekend(_orderTime))">Potvrdiť zmeny</button>
            <button @onclick="ShowDialog" type="button" class="btn btn-cancel">Zmazať objednávku</button>
        </div>
    </EditForm>

    @if (_dialogVisible)
    {
        <div class="dialog-overlay">
            <div class="dialog-box">
                <h3>Naozaj chcete vymazať objednávku?</h3>
                <div class="dialog-actions">
                    <button class="confirm-button" @onclick="ConfirmDelete">Áno, vymazať</button>
                    <button class="cancel-button" @onclick="CancelDelete">Zrušiť</button>
                </div>
            </div>
        </div>
    }

    @if (isUserAuthenticated == false && showLoginMessage)
    {
        <div class="alert alert-warning">
            Musíte byť prihlásený, aby ste mohli vymazať objednávku.
        </div>
    }
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    Order order { get; set; } = new Order { };
    string dentistFullName = "Neznámy zubár";
    private bool _dialogVisible = false;
    private string Today => DateTime.Today.ToString("yyyy-MM-dd");
    private string Tomorrow => DateTime.Today.AddDays(1).ToString("yyyy-MM-dd");
    private List<string> availableTimes = new List<string>();
    private string? timeErrorMessage;
    private bool isUserAuthenticated = false;
    private bool showLoginMessage = false;

    private DateTime _orderTime;
    private DateTime OrderTime
    {
        get => _orderTime;
        set
        {
            _orderTime = value;
            Console.WriteLine($"Dátum zmenený na: {value:dd.MM.yyyy}");

            if (IsWeekend(value))
            {
                timeErrorMessage = "Objednávky nie sú možné cez víkend.";
                availableTimes.Clear();
                StateHasChanged();
            }
            else
            {
                timeErrorMessage = null;
                LoadAvailableTimes().ConfigureAwait(false);
            }
        }
    }

    private string _selectedTime;
    private string SelectedTime
    {
        get => _selectedTime;
        set
        {
            _selectedTime = value;
            if (!string.IsNullOrEmpty(value))
            {
                try
                {
                    var time = TimeSpan.Parse(value);
                    order.Time = _orderTime.Date.Add(time);
                    timeErrorMessage = null;
                }
                catch (FormatException)
                {
                    timeErrorMessage = "Neplatný formát času";
                }
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            order = await OrderService.GetOrderById(Id.Value);
            _orderTime = order.OrderTime;
            _selectedTime = order.Time.ToString("HH:mm");

            var dentist = await DentistService.GetDentistById(order.DentistId);
            dentistFullName = $"{dentist.Name} {dentist.Surname}";
            order.Specialization = dentist.Specialization;

            await LoadAvailableTimes();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isUserAuthenticated = true;
        }
    }

    private bool IsWeekend(DateTime date)
    {
        return date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
    }

    private async Task LoadAvailableTimes()
    {
        if (IsWeekend(_orderTime))
        {
            availableTimes.Clear();
            return;
        }

        if (_orderTime != default)
        {
            var dentist = await DentistService.GetDentistById(order.DentistId);
            availableTimes.Clear();

            TimeSpan start = dentist.OfficeStartTime;
            TimeSpan end = dentist.OfficeEndTime;

            for (TimeSpan currentTime = start; currentTime < end; currentTime = currentTime.Add(TimeSpan.FromMinutes(30)))
            {
                string time = currentTime.ToString(@"hh\:mm");
                availableTimes.Add(time);
            }

            var orders = await OrderService.GetOrdersByDentistAndDate(order.DentistId, _orderTime.Date);
            // Vylúčiť aktuálnu objednávku z kontroly dostupnosti
            orders = orders.Where(o => o.Id != order.Id).ToList();

            availableTimes = availableTimes
                .Where(t => !orders.Any(o => o.Time.TimeOfDay == TimeSpan.Parse(t)))
                .ToList();

            if (!string.IsNullOrEmpty(_selectedTime) && !availableTimes.Contains(_selectedTime))
            {
                _selectedTime = availableTimes.FirstOrDefault();
                if (!string.IsNullOrEmpty(_selectedTime))
                {
                    order.Time = _orderTime.Date.Add(TimeSpan.Parse(_selectedTime));
                }
            }

            StateHasChanged();
        }
    }

    async Task HandleSubmit()
    {
        if (IsWeekend(_orderTime))
        {
            timeErrorMessage = "Objednávky nie sú možné cez víkend.";
            return;
        }

        if (_orderTime.Date < DateTime.Today.AddDays(1))
        {
            timeErrorMessage = "Objednávky sú povolené len od zajtra.";
            return;
        }

        if (!isUserAuthenticated)
        {
            timeErrorMessage = "Musíte byť prihlásený na úpravu objednávky.";
            return;
        }

        if (string.IsNullOrEmpty(_selectedTime))
        {
            timeErrorMessage = "Vyberte prosím čas.";
            return;
        }

        bool isTimeTaken = await CheckIfTimeAvailable(order.Time);
        if (isTimeTaken)
        {
            timeErrorMessage = "Tento čas je už obsadený. Vyberte iný.";
            return;
        }

        order.OrderTime = _orderTime.Date.Add(TimeSpan.Parse(_selectedTime));

        await OrderService.EditOrder((int)Id, order);
        NavigationManager.NavigateTo("/orderList");
    }

    private void ShowDialog()
    {
        if (!isUserAuthenticated)
        {
            showLoginMessage = true;
            return;
        }
        _dialogVisible = true;
    }

    async Task ConfirmDelete()
    {
        _dialogVisible = false;
        await OrderService.DeleteOrder((int)Id);
        NavigationManager.NavigateTo("/orderList");
    }

    private void CancelDelete()
    {
        _dialogVisible = false;
    }

    private async Task<bool> CheckIfTimeAvailable(DateTime orderDateTime)
    {
        var orders = await OrderService.GetOrdersByDentistAndDate(order.DentistId, orderDateTime.Date);
        // Vylúčiť aktuálnu objednávku z kontroly
        return orders.Any(o => o.Time == orderDateTime && o.Id != order.Id);
    }
}